<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.importer.gstreamer.GStreamerImporter"
            doc="[ -s=start_frame_event_type_name ] [-o] (-o allows overlapping frames)"
            name="GStreamer Importer"
            type="IMPORT">
      </tool>
   </extension>

</plugin>
