<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="fr.inria.soctrace.framesoc.ui.views.category"
            class="fr.inria.soctrace.framesoc.ui.histogram.view.HistogramView"
            icon="icons/histogram.png"
            id="fr.inria.soctrace.framesoc.ui.HISTOGRAM"
            name="Event Density Chart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.soctrace.framesoc.ui.histogram.handler.ShowEventDensityHandler"
            id="fr.inria.soctrace.framesoc.ui.histogram.command.showEventDensityHistogram"
            name="Show Event Density Chart">
      </command>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.perspective.part">
      <part
            icon="icons/histogram.png"
            launchCommand="fr.inria.soctrace.framesoc.ui.histogram.command.showEventDensityHistogram"
            position="TOP_RIGHT"
            priority="0"
            viewId="fr.inria.soctrace.framesoc.ui.HISTOGRAM">
      </part>
   </extension>

</plugin>
