<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="fr.inria.soctrace.framesoc.ui.piechart.loader" name="loader" schema="schema/fr.inria.soctrace.framesoc.ui.piechart.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="fr.inria.soctrace.framesoc.ui.views.category"
            class="fr.inria.soctrace.framesoc.ui.piechart.view.StatisticsPieChartView"
            icon="icons/piechart.png"
            id="fr.inria.soctrace.framesoc.ui.PIE"
            name="Statistics Pie Chart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.soctrace.framesoc.ui.piechart.handler.ShowStatisticsPieChartHandler"
            id="fr.inria.soctrace.framesoc.ui.piechart.command.ShowStatisticsPieChart"
            name="Show Statistics Pie Chart">
      </command>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.perspective.part">
      <part
            icon="icons/piechart.png"
            launchCommand="fr.inria.soctrace.framesoc.ui.piechart.command.ShowStatisticsPieChart"
            position="TOP_RIGHT"
            priority="1"
            viewId="fr.inria.soctrace.framesoc.ui.PIE">
      </part>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.piechart.loader">
      <pieLoader
            loaderClass="fr.inria.soctrace.framesoc.ui.piechart.loaders.EventTypePieChartLoader">
      </pieLoader>
      <pieLoader
            loaderClass="fr.inria.soctrace.framesoc.ui.piechart.loaders.EventProducerPieChartLoader">
      </pieLoader>
      <pieLoader
            loaderClass="fr.inria.soctrace.framesoc.ui.piechart.loaders.StateDurationPieChartLoader">
      </pieLoader>
      <pieLoader
            loaderClass="fr.inria.soctrace.framesoc.ui.piechart.loaders.LinkDurationPieChartLoader">
      </pieLoader>
   </extension>

</plugin>
